
@font-face {
    font-family: monterast;
    src: url(../assets/Montserrat-LightItalic.ttf);
}
@font-face {
    font-family: roboto;
    src: url(../assets/Roboto-Black.ttf);
}

:root{
    --fontN:roboto;
    --fontM:monterast;
    --darkgray:#57423F;
    --red:#C3001E;
    --silver:#BFA6A2;
}


body{
    background-image: url(../images/pattern.jpg);
    display: grid;
    grid-template-rows: 60px 95% ;
    min-height: 150vh;
    gap: 15px;
    background-attachment: fixed;
    background-size: cover; 
    background-position: center;
    
}

.container{
    display: flex;
    flex-direction: column;
    gap :10px;
    align-items: center;
    
}

.section{
    background-color: var(--silver);
    max-width: 50%;
    color: var(--darkgray);
    border: 10px var(--darkgray) solid;
    border-radius: 20px;
    padding: 20px;
    line-height: 40px;
}

/* Define styles for buttons */
button {
    background-color: var(--red);
    color: var(--silver);
    font-size: 2em;
    font-family: var(--fontM);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s, color 0.3s, background-position 0.3s; /* Add transition for background color, font color, and background position */
    background-position: 100% 0; /* Initially position the background at the right */
}

/* Define hover effect for buttons */
button:hover {
    background-color: var(--darkgray); /* Change background color on hover */
    color: var(--red); /* Change font color on hover */
    background-position: 0 0; /* Move the background to the left on hover */
    cursor: pointer;
}





header img{
    height: 3.5rem;
    width: 3.5rem;
    align-self: center;
}
.section img{
    height:40%;
    width: 40%;
   border: 5px var(--darkgray) solid;
   
}

header{
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    background-color:var(--darkgray) ;
    position: sticky;
    justify-content: center;
    align-items: center;
    z-index: 100;
    top: 0;
   
}


h1{
    font-size: 2em;
    color: var(--red);
    font-family: var(--fontM),'sans-serif';
}

.nav{
   
    display: flex;
    gap: 30px;
}

.logo-title{
    align-self: center;
    color: var(--silver);
    font-size: 2em;
    font-family: var(--fontM);
}
footer{
    background-color: var(--darkgray);
}

.img-container{
    display: flex;
    justify-content: center;
    gap: 5em;
}


.text{
    font-family: var(--fontN) ;
}


.menu-title{
    min-width: 50%;
    display: flex;
    justify-content: center;
}

.price-picture{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}


.menu{
    max-width: 40%;
}


.title{
    min-width: 25%;
    display: flex;
    justify-content: center;
}

@media(width <= 1500px){

header{

    grid-template-columns: 5% 50% 45%;
    
}



}
@media(width <= 935px){
    .section{
        min-width: 30% ;
    }
    .welcome{
        min-width: 50%;
    }
    header{

        grid-template-columns: 10% 4fr 2fr;
        
    }
    .menu-title{
        min-width: 70%;
    }
}
@media (width <= 696px){
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
}